.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  width: 80%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .App-content {
    width: 100%;
  }
}

.header {
  text-align: center;
  top: 5%;
  position: absolute;
}

.loadingScreen {
  text-align: center;
}

.posterImage {
  height: 100px;
}

.bookTicketsButton {
  width: 100%;
}

.proceedButton {
  width: 60%;
  margin: 5%;
}

.backButton {
  text-align: left;
}

.ticketOption {
  text-align: right;
  padding: 0.1em 1em;
}

.ticketOptionLabel {
  margin-right: 1em;
}

.ticketSelect {
  text-align: center;
}

.completeScreen {
  text-align: center;
}

.completeDismissButton {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
